# ==============================
# Dependencies
# ==============================
node_modules/
bower_components/

# ==============================
# Build / Dist
# ==============================
dist/
build/
.out/
.vite/

# ==============================
# Environment files
# ==============================
.env
.env.*
!.env.example

# ==============================
# Logs
# ==============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==============================
# OS / Editor
# ==============================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ==============================
# Sass
# ==============================
.sass-cache/
*.css.map

# ==============================
# Coverage / Testing
# ==============================
coverage/

# ==============================
# Misc
# ==============================
*.log
